# Байт-компилированные / оптимизированные / DLL файлы
__pycache__/
*.py[cod]
*$py.class

# Файлы кэша CPython
*.pyc

# Каталоги __pycache__ и .pyc файлы, которые могут появляться
**/__pycache__/
**/*.pyc

# Конфигурационные файлы, которые могут содержать секретную информацию
Telegram/token_api.py
*.ini
*.json

# Папки с виртуальными окружениями
venv/
.env/

# Файлы среды PyCharm
.idea/

# Файлы логов
*.log

# Другие файлы и папки, которые обычно не требуется включать в репозиторий
*.sqlite
*.db
temp/
*.temp
*.bak
*.backup
